* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, serif;
}

.game-wrap {
  margin-top: 15px;
  width: 100vw;
  height: 100vh;
  /*border: #040504 solid 1px;*/
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.game-box {
  margin-top: 25px;
  width: 800px;
  height: 600px;
  border: #3b3434 solid 1px;
  display: grid;
  justify-content: space-around;
  /*grid-template-columns: 100px 100px 100px 100px;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-columns: repeat(auto-fill, 200px);
}

.button {
  width: 200px;
  height: 200px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*background: #d8dfef;*/
  /*box-shadow: #040504 4px 4px 10px;*/
  /*color: #1f2c49;*/
  border: #3b3434 solid 1px;
  /*border-radius: 5px;*/
  /*padding: 5px;*/
  /*margin: 5px;*/
}

.text {
  /*border: #706363 solid 1px;*/
  margin-top: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.restart {
  width: 80px;
  height: 40px;
  background: #dacf52;
  box-shadow: #040504 2px 2px 5px;
  color: #1e1a1a;
  border: #706363 solid 1px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  /*margin-bottom: 25px;*/
}

.restart-pushed {
  width: 80px;
  height: 40px;
  background: #dacf52;
  box-shadow: #706363 1px 1px 1px;
  color: #1e1a1a;
  border: #706363 solid 1px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
}

